*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', Arial, Helvetica, sans-serif;
}
body{
    width: 100vw;
    overflow-x: hidden;
}
.container{
    display: flex;
    width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #181815, #181820,#181825)
}
.container .title{
    color: #FA5F14;
    font-weight: 700;
    font-size: 2.5rem;
    text-transform:capitalize;
    font-family: 'Glory', sans-serif;
}
.container .fa-microphone,.fa-music{
    font-size: 2rem;
}
.container .fa-youtube{
    color: #FA5F14;
    font-size: 3rem;
    animation: anime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes anime {
    to{
        transform: scale(1.3);
    }
}
#form{
    margin-top: 1rem;
    margin-bottom: 3rem;
}
main .title{
    margin-top: 1rem;
}
.search{
    height: 2.5rem;
    width: 14rem;
    border: none;
    border-radius: 1rem;
    background-color: #f1f1f1;
    padding: 1rem;
    outline: none;
    text-align: right;
}
.search:focus{
    background-color: #fff;
    border: 2px solid #FA5F14;
    color: #FA5F14;
}
.btn{
    width: 2.5rem;
    height:2.5rem;
    border-radius: 50%;
    border: none;
    background-color: #f1f1f1;
}
.btn:hover{
    background-color: #fff;
    border: 2px solid #FA5F14;
    cursor: pointer;
    color: #FA5F14;
}
.informations{
    background-color: #1f1f1f1f;
    overflow: hidden;
}
.information{
    display: flex;
    align-items: center;
    max-width: 80vw;
    min-width: 320px;
    background-color: #FA5F14;
    max-height: 40rem;
    border-radius: 5px;
    color: #f1f1f1;
    animation: toright .5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;

}
@keyframes toright{
    0%{
        transform: translateX(-50rem);
        opacity: 0;
    }
    100%{
        transform: translateX(initial);
        opacity: 1;
    }

}
@keyframes toleft{
    0%{
        margin-left: 100%;
        opacity: 0;
    }
    100%{
        margin-left: initial;
        opacity: 1;
    }

}
.information .imageInformation{
    width: 50%;
    min-width: 200px;
    height: 100%;
    padding: 2px;
}
.information .imageInformation img{
    width: 100%;
    height: 100%;
}
.textInformation{
    width: 50%;
    font-size: 1rem;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textInformation p span{
    text-shadow: 1px 4px 4px #181818;
}
.social{
    margin-top: .5rem;
    font-size: .5rem;
    text-align:left;
}.social p{
    font-size: .5rem;
    text-align: center;
    text-shadow: 1px 4px 4px #181818;
}
.social ul li{
    list-style: none;
}
.social ul li span{
    text-shadow: 1px 4px 4px #181818;
} 
.results{
    background-color: #1f1f1f1f;
    display: flex;
    flex-wrap: wrap;
    max-width: 100vw;
    margin-top: 2rem;
}
.videoContainer{
    width: 15rem;
    height: 20rem;
    margin-bottom: 1rem;
    margin-left: .5rem;
    max-height: 40rem;
    padding: 5px;
    background-color: #FA5F14;
    border-radius: 5px;
    animation: toleft .6s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-delay: var(--delay);
}
.videoContainer p{
    font-size: .5rem;
    color: #f1f1f1;
    font-weight: 700;
}
.videoContainer p span{
    font-size: .5rem;
    color: #f1f1f1;
    font-weight: 700;
    text-shadow: 1px 2px 1px #181818 ;
}
.article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}
h3{
    margin: 0 auto;
    text-align: center;
    color: #FA5F14;
    font-weight: 700;
    font-size: 2rem;
    text-transform:capitalize;
    font-family: 'Glory', sans-serif;
    text-decoration:underline
}
.video{
    width: 100%;
    height: 8rem;
}
.loading{
    width: 50px;
    height: 50px;
    background-color: #181818; 
    border: 6px solid gray;
    border-radius: 50%;
    border-top-color: #FA5F14;
    animation: rotate 1s infinite;
}
@keyframes rotate{
    to{
        transform: rotate(1turn);
    }
}