@media screen and (max-width:460px) {
    .informations{
        background-color: #1f1f1f1f;
        overflow: hidden;
        
    }
    .information{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 90vw;
        height: 40rem;
        min-width: 305px;
        background-color: #FA5F14;
        max-height: 40rem;
        border-radius: 5px;
    }
    .information .imageInformation{
        width: 100%;
        min-width: 200px;
        height: 50%;
        padding: 2px;
        order: 1;
        align-self: flex-start;
        display: block;
    }
    .information .imageInformation img{
        width: 100%;
        height: 100%;
    }
    .textInformation{
        width: 100%;
        height: 50%;
        font-size: 1rem;
        text-align: center;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        align-items: center;
        order: 2;
    }
    .social{
        margin-top: .5rem;
        font-size: .8rem;
        text-align:left;
    }.social p{
        font-size: 1rem;
        text-align: center;
        text-shadow: 1px 4px 4px #181818;
    }

    .videoContainer{
        width: 22rem;
        height: 23rem;
       
    }
    .videoContainer p{
        font-size: .6rem;
        color: #f1f1f1;
        font-weight: 700;
    }
    .videoContainer p span{
        font-size: .8rem;
        color: #f1f1f1;
        font-weight: 700;
        text-shadow: 1px 2px 1px #181818 ;
    }
    .video{
        height: 40%;
    }
    h3{
        font-size: 1.5rem;
    }

    @media screen and (max-width:320px){
        .information{
            width: 300px;
        }
        .container .title{
            font-size: 2rem;
        }
    }
}